* {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  width: calc(100% - 256px);
}
