// Colors
$aside-color: #1f2937;
$text-title: #6b7280;
$text-navigation: #d1d5db;
$text-active: #ffffff;
$background-active: #4b5563;
$nav-title: #111827;
$nav-accent: #1e40af;
$button-new: #4f46e5;
$grey: #f9fafb;
$dark-grey: #374151;
$table-title: #687182;
$table-name-title: #171c26;
$table-line: #e9edf5;
$table-accent: #5e5adb;
$perks: #e1fcef;
