// Colors
$aside-color: #1F2937;
$text-title: #6B7280;
$text-navigation: #D1D5DB;
$text-active: #FFFFFF;
$background-active: #4B5563;
$nav-title: #111827;
$nav-accent: #1E40AF;
$button-new: #4F46E5;
$grey: #F9FAFB;
$dark-grey: #374151;
$table-title: #687182;
$table-name-title: #171C26;
$table-line: #E9EDF5;
$table-accent: #5E5ADB;
$perks: #E1FCEF;
